{%extends 'header.html'%}

{% block page %}
<h3 style = "color:rgb(14, 13, 13); text-align:center;"> Edit Profile</h3>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
            
            <form action="http://127.0.0.1:8000/asm/update/" method="post">
                <table class="table table-borderless">
                    <tr>
                        <td>User Phone</td>
                        <td><input name= "phone" type="text" class="form-control" placeholder="Enter Phone No"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type ="submit" class="btn btn-success">Go to Edit Profile</button></td>
                    </tr>
    
                </table>
                </form>
        
{% if data %}
<form action="http://127.0.0.1:8000/asm/updateaction/" method="post">

    <table class="table table-borderless">
        {% for n in data %}
        <tr>
            <td style = "color:rgb(128, 2, 2);"><b>Customer Name</b></td>
            <td><input name = 'newName' value ='{{n.name}}' type="text" class="form-control"> </td>
        </tr>
        <tr>
            <td style = "color:rgb(128, 2, 2);"><b>Address</b></td>
            <td><input name = 'newAdd' value ='{{n.add}}' type="text" class="form-control"></td>
        </tr>
        <tr>
            <td style = "color:rgb(128, 2, 2);"><b>Email ID</b></td>
            <td><input name = 'newEmail' value ='{{n.email}}' type="text" class="form-control"></td>
        </tr>
        <tr>
            <td style = "color:rgb(128, 2, 2);"><b>Phone No</b></td>
            <td><input name = 'newPhone' value ='{{n.phone}}' type="text" class="form-control"></td>
        </tr>
        <tr>
            <td style = "color:rgb(128, 2, 2);"><b>Password</b></td>
            <td><input name = 'newPass' value ='{{n.password}}' type="text" class="form-control"></td>
        </tr>
        <tr>
            <td style = "color:rgb(128, 2, 2);"><b>Confirm Password</b></td>
            <td><input name = 'newCpass' value ='{{n.cnfrmpass}}' type="text" class="form-control"></td>
        </tr>
        <tr>
            <td></td>
            <td><button type ="submit" class="btn btn-success">Save Edit </button></td>
        </tr>
        {% endfor %}
    </table>

</form>
{% endif %}


</div> 
    
</div>

{%endblock%}